{% macro list_posts(annee, max_posts = 50) -%}
    {% if annee %}
        {% for post in posts | sort(attribute='postTotalClapCount' , reverse = True) | selectattr('year','equalto',annee) %}
            {% if max_posts >= loop.index %}
            <div class="story">
                <div class="index">{{loop.index}}</div>
                <a class="image" href="{{ "https://medium.com/@" + post.userName + "/" + post.postSlug}}">
                    {% if post.postPreviewImage %}
                        <img src="https://cdn-images-1.medium.com/max/200/{{post.postPreviewImage}}" >
                    {% else %}
                        <img src="https://mediumino.fr/placeholder.png" >
                    {%endif%}
                </a>
                <div class="info">
                    <a class="title" href="{{ "https://medium.com/@" + post.userName + "/" + post.postSlug}}">{{post.postTitle}}</a>
                    <a class="author" href="{{ "https://medium.com/@" + post.userName}}">{{post.name}}</a>
                </div>
                <div class="recommends">{{post.postTotalClapCount}} <img src="clap.png"></div>
            </div>
            {%endif%}
        {% endfor %}  
    {% else %}
        {% for post in posts | sort(attribute='postTotalClapCount' , reverse = True) %}
            {% if max_posts >= loop.index %}
            <div class="story">
                <div class="index">{{loop.index}}</div>
                <a class="image" href="{{ "https://medium.com/@" + post.userName + "/" + post.postSlug}}">
                    {% if post.postPreviewImage %}
                        <img src="https://cdn-images-1.medium.com/max/200/{{post.postPreviewImage}}" >
                    {% else %}
                        <img src="https://mediumino.fr/placeholder.png" >
                    {%endif%}
                </a>
                <div class="info">
                    <a class="title" href="{{ "https://medium.com/@" + post.userName + "/" + post.postSlug}}">{{post.postTitle}}</a>
                    <a class="author" href="{{ "https://medium.com/@" + post.userName}}">{{post.name}}</a>
                </div>
                <div class="recommends">{{post.postTotalClapCount}} <img src="clap.png"></div>
            </div>
            {%endif%}
        {% endfor %}  
    {%endif%}
{%- endmacro %}


<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108543487-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108543487-1');
</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>A seleção dos melhores artigos do Medium brasileiro.</title>
  <meta content="A seleção dos melhores artigos do Medium brasileiro. " name="description">

<link href="font.css" rel="stylesheet" type="text/css">
<link href="styles.css" rel="stylesheet" type="text/css">

<link href="bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="google-site-verification" content="6bFBugpm63uVxocjfCTHELa0yjpcIVaROzgqu5fjZdg" />
    
</head>
<body>
<div class="container">

<div class="top">
<h1 id="website-title">
A seleção dos melhores artigos do Medium brasileiro.
</h1>

<br>
<div id="caption">
Uma seleção dos {{posts_number}} artigos mais aplaudidos
</div>

<div id="view-mode">
Ver :
<div id="compact">
Completo
</div>
<div class="active" id="full">
Compacto
</div>
</div>


<div id="filter">
<div id="all">
Todos
</div>
<div class="active" id="2018">
2018
</div>
<div id="2017">
2017
</div>
<div id="2016">
2016
</div>
<div id="2015">
2015
</div>
</div>
</div>

<div id="waiting">
   
</div>    
    
<div class="story-list" id="all-story-list">
        {{ list_posts(0, 50) }}  
</div>
<div class="load-more" id="all-load">
Veja mais...
</div>

<div class="story-list" id="2018-story-list" style="display:block;">
        {{ list_posts(2018, 50) }}
</div>
<div class="load-more" id="2018-load" style="display:block;">
Veja mais...
</div>

    
<div class="story-list" id="2017-story-list">
        {{ list_posts(2017, 20) }}
</div>
<div class="load-more" id="2017-load">
Veja mais...
</div>

<div class="story-list" id="2016-story-list">
        {{ list_posts(2016, 20) }}
</div>
<div class="load-more" id="2016-load">
Veja mais...
</div>


<div class="story-list" id="2015-story-list">
        {{ list_posts(2015, 20) }}
</div>
<div class="load-more" id="2015-load">
Veja mais...
</div>

<div class="story-list" id="2014-story-list">
        {{ list_posts(2014, 20) }}
</div>
<div class="load-more" id="2014-load">
Veja mais...
</div>

<div class="story-list" id="2013-story-list">
        {{ list_posts(2013) }}    
</div>

<div class="footer">
<span class="left">
Feito por 
<a href="https://medium.com/@herve07h22.com">
Hervé
</a> 
 de acordo com as ideias de  
<a href="https://michaeldeng.me/">
Michael Deng
</a>
</span>
<span class="right">
        Site independente, não somos parte do   
<a href="https://medium.com/">
Medium
</a>
</span>
</div>
</div>
<script  src="jquery-3.3.1.min.js"> </script>
<script src="./scripts.js">
 </script>
</body></html>
